.Person {
    width: 25%;
    margin: 16px auto;
    border: 1px solid blueviolet;
    border-radius: 25%;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

.normal {
    color: black;
}

.red {
    color: salmon;
}

.red-bold {
    color: red;
    font-weight: bold;
}

.Person button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid green;
    padding: 8px;
    cursor: pointer;
    border-radius: 20%;
}

.Person button:hover {
    background-color: lightgreen;
    color: black;
}

.Person button.Red {
    background-color: red;
}

.Person button.Red:hover {
    background-color: salmon;
    color: black;
}



@media (min-length : 500px) {
    .person {
        width: 450px;
    }
}